@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


#arab {
    /* font-family: 'Noto Sans Arabic', sans-serif; */
    font-family: 'Amiri Quran', serif;
    text-align: right;
}